APP_NAME="DCID Server SDK Test Server"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:5005

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=sqlite

# DCID SDK Configuration
DCID_API_KEY=your_dcid_api_key_here
DCID_ENVIRONMENT=dev
SDK_TIMEOUT=120000 # 120 seconds (request timeout)
SDK_CONNECT_TIMEOUT=10000 # 10 seconds (connection timeout)
